NODE_ENV=development
PORT=4000
JWT_ACCESS_TOKEN_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRES_IN=30m
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=fit-friends
PGADMIN_DEFAULT_EMAIL=default@fit-friends.local
PGADMIN_DEFAULT_PASSWORD=123456
